:root {
    --accent-color-red: #FF0000;
    --accent-color-green: #DCDC22;
  }
  
  html {
    box-sizing: border-box;
  }

  body {
    font-family: Poppins, sans-serif;
    font-weight: bold;
    font-size: 20px;
    margin: 0;
    padding: 0;
    background-color: white;
  }

  h1 {
    font-family: Poppins, sans-serif;
    font-weight: bold;
    font-size: 45px;
    margin: 0px;
  }
  
  nav {
    width: 100%;
    display: flex;
    justify-content: flex-end;
  }
  
  nav ul {
    display: flex;
    width: 50%;
    justify-content: space-around;
    list-style: none;
    margin-right: 20px;
  }

  .nav-link a {
    color: black;
    text-decoration: none;
  /*   margin: 0 10px; /* Flex Box already does this */
  }

  button {
    font-family: Poppins, sans-serif;
    font-weight: bold;
    font-size: 20px;
    margin: 0;
    padding: 5px 20px;
    background-color: white;
    border-radius: 7px;
    align-items: center;
    cursor: pointer;
  }

  h4 {
    font-family: Poppins, sans-serif;
    font-weight: 400;
    font-size: 17px;
  }

  .jumbotron {
      width: 35%;
      display: flex;
      align-items: center;
      flex-direction: column;
      justify-content: center;
      text-align: center;
      padding: 60px;
  }

  #hottie div p {
    font-family: Poppins, sans-serif;
    font-weight: bold;
    font-size: 17px;
    padding: 0px 0px 80px 0px;
    margin: 0px;
  }

  header {
      display: flex;
      flex-direction: column;
      align-items: center;
  }

  #hottie {
    background-image: url("./Images/bg.jpg");
    width: 100%;
    min-height: 900px;
    background-size: cover;
  }


#hottie {
      display: flex;
      align-items: center;
      flex-direction: column;
      justify-content: flex-start;
      text-align: center;
}

#hottie div {
        width: 35%;
        align-items: center;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        padding: 60px;
}

h2 {
    font-family: Poppins, sans-serif;
    font-weight: bold;
    font-size: 45px;
    color: #FF0000;
    margin: 60px 0px 10px 0px;
  }

  #mathematician {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

#mathematician div {
    align-items: center;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    padding: 60px;
}